<%- include("header") -%>
<h1>WELCOME</h1>
<form action="/" method="post">
 <button  class="btn btn-lg btn-primary mybtn " type="submit" name="choose" value="0" >login</button>
   
<button  class="btn btn-lg btn-primary mybtn" type="submit" name="choose" value="1" >signup</button>
<p class="mt-5 mb-3 text-muted">&copy; nimrayyy</p>
</form>
<%- include("footer") -%>


