<%- include("header")-%>
<h1>What you wanna update <%=name%></h1>
<form action="/login/welcome/update" method="post">
    <input type="text"  class="form-control" placeholder="Enter Name" name="userName" required autofocus autocomplete="off">
 
    <input type="password"  class="form-control" placeholder="Password" name="userPass" required autocomplete="off">
    
    <button class="btn btn-lg btn-primary btn-block" type="submit" name="choose" value="1">Update</button>
   <p class="mt-5 mb-3 text-muted">&copy; nimrayyy</p

<%- include("footer") -%>