<%- include("header")-%>
<h1>What you wanna update <%=name%></h1>
<form action="/login/welcome/update" method="post">
    <button  class="btn btn-lg btn-primary mybtn " type="submit" name="choose" value="0" >Name</button>
      
   <button  class="btn btn-lg btn-primary mybtn" type="submit" name="choose" value="1" >password</button>

   <button  class="btn btn-lg btn-primary mybtn" type="submit" name="choose" value="2" >back</button>
   <p class="mt-5 mb-3 text-muted">&copy; nimrayyy</p

<%- include("footer") -%>