<%- include("header")-%>
<h1>hello <%=name%></h1>
<form action="/login/welcome" method="post">
    <button  class="btn btn-lg btn-primary mybtn " type="submit" name="choose" value="0" >Update</button>
      
   <button  class="btn btn-lg btn-primary mybtn" type="submit" name="choose" value="1" >Delete</button>

   <button  class="btn btn-lg btn-primary mybtn" type="submit" name="choose" value="2" >LogOut</button>
   <p class="mt-5 mb-3 text-muted">&copy; nimrayyy</p

<%- include("footer") -%>